body {
    background-image: url("Images/uiuc_engineering.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

div.ex1 {
    overflow: scroll;
}
  
div.ex2 {
    overflow: hidden;
}
  
div.ex3 {
    overflow: auto;
}
  
div.ex4 {
    overflow: visible;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    overflow: hidden;
    padding-bottom: 0px;
    margin-top: 5px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul.topnav li {
    float: left;
    background-color: black;
    border-color: #32CD32;
    border-style: solid;
    border-width: 2px;
}

ul.topnav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #32CD32;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

footer {
    font-size: smaller;
    position: static;
    padding-top: 25%;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding-bottom: 0px;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #ffffff;
}

.center {
    text-align: center;
}

.main {
    color: white;
    font-size: 35pt;
    background-color: black;
    width: fit-content;
    display: inline-block;
    padding: 10px
}

.uiuc_blue {
    color: blue;
}

.uiuc_orange {
    color: orange;
}

.bold {
    font-weight: bold;
}

.coder_green {
    color: #32CD32;
}