.body {
    background-image: url("Images/cs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  div.ex1 {
    overflow: scroll;
  }
  
  div.ex2 {
    overflow: hidden;
  }
  
  div.ex3 {
    overflow: auto;
  }
  
  div.ex4 {
    overflow: visible;
  }